npm
npm node
npm install --save-dev "hardhat@^2.8.3"
npm install @openzeppelin/contracts
npm install @openzeppelin/contracts-upgradeable
npm install ethers
npm install --save-dev @openzeppelin/hardhat-upgrades
npm install --save-dev @nomiclabs/hardhat-ethers ethers # peer dependencies